
//
// Logo
//
#logo
  img
    height: 200px
    margin: 0 auto
//
// Top bar
//
#top-bar
  padding: 7px 0
  background-color: #3f4047
  color: #fff
  font-size: 15px
  font-family: $font_regular
  .list-information
    margin: 0
    padding: 0
    li
      display: inline
      padding-right: 50px
      a,
      p
        margin-bottom: 0
        display: inline-block

        vertical-align: middle
        height: 19px
      a
        text-decoration: none
        transition: all .3s
        height: auto
        color: #fff

      img
        padding-right: 15px

    li:last-child
      padding-right: 0

  .work-time
    display: inline-block
    span
      color: #ffc770
      font-family: $font_medium
  .navigation
    margin: 0
    padding: 0
    display: inline-block
    float: right
    li
      display: inline
      a
        color: #fff




//
// Header
//
header
  padding: 20px 0
  .top
    padding-top: 40px
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-flex-direction: row
    -ms-flex-direction: row
    flex-direction: row
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    -webkit-justify-content: space-between
    -ms-flex-pack: justify
    justify-content: space-between
    -webkit-align-content: center
    -ms-flex-line-pack: center
    align-content: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    > div
      display: inline-block


    .cart-block
      .btn-group.open .dropdown-toggle
        box-shadow: none!important
      #cart
        width: auto
        padding-right: 50px

        .dropdown-menu.pull-right
          position: absolute!important
          margin-top: 0
          padding: 15px 5px 5px 5px
          box-shadow: 1px 1px 5px 1px #eee
          min-width: 400px
          .table>tbody>tr>td,
          .table>tbody>tr>th,
          .table>tfoot>tr>td,
          .table>tfoot>tr>th,
          .table>thead>tr>td,
          .table>thead>tr>th
            vertical-align: middle
            border: none
          .table td:nth-child(3n)
            width: 45px
          .table tr
            background-color: transparent!important
          a
            text-decoration: none
            color: $gray_color
            transition: all .3s
            &:hover
              color: $main_color
          .table-bordered
            border: none
            border-top: 1px solid #eee
          button.btn.btn-danger.btn-xs
            color: red


      button
        background: transparent
        border: none
      a
        text-decoration: none
        p
          margin-bottom: 0
          display: inline-block
          font-size: 15px
          font-family: $font_regular
          color: #000
          padding-left: 10px
      #cart-total,
      .wish-block .count
        font-size: 10px
        color: #fff
        font-family: $font_medium
        background-color: $main_color
        border-radius: 50%
        width: 18px
        text-align: center
        height: 18px
        display: inline-block
        vertical-align: middle
        position: absolute
        top: 2px
        left: 27px
        line-height: 20px
      .wish-block
        text-decoration: none
        display: inline-block
        position: relative
        p
          padding-left: 10px
          margin: 0
          display: inline-block
        .count
          top: -2px
          left: 19px

  .bottom
    padding-top: 42px
    display: -ms-flexbox
    display: -webkit-flex
    display: flex

//
// Category for page categories
//
.top-category-page-category
  background-color: #3f4047
  width: 510px
  margin-right: 50px
  position: relative

  .heading
    position: relative
    padding: 10px 29px
    &::after
      content: ""
      display: block
      width: 0
      height: 0
      border-style: solid
      border-width: 20px 0 0 20px
      border-color: transparent transparent transparent #ffffff
      position: absolute
      left: 0
      bottom: -1px
    p
      margin-bottom: 0
      font-family: $font_regular
      color: #fff
      text-transform: uppercase
      font-size: 15px
      display: inline-block
    img
      display: inline-block
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: 29px

  .list-group.drop-down
    box-shadow: 4px 5px 10px 1px #eee
    position: absolute
    top: 46px
    left: 0
    background: #fff
    z-index: 10
    border-radius: 0
    border: 0
    padding: 0 32px
    opacity: 0
    visibility: hidden
    transition: all .3s ease-out
    a
      border-radius: 0
      border: 0
      border-bottom: 1px solid #eee
      padding-left: 0
      padding-right: 0
      margin: 0
      transition: all .3s
      &:hover
        background: transparent
        color: $main_color
      &:last-child
        border: none!important
      &.active
        background: transparent
        color: $main_color
.top-category-page-category:hover .list-group.drop-down,
.list-group.drop-down:hover
  opacity: 1
  visibility: visible



