//
// Home page
//
.common-home
  #content
    padding: 0


//
// Menu
//
.home-page
  #menu
    overflow: hidden
    .navbar-header
      background-color: $gray_color
      padding: 15px 25px
      width: 285px

      .navbar-toggle
        display: inline-block
        float: right
        margin: 0
        border: 0
        padding: 2px
        pointer-events: none

      #category
        font-size: 15px
        text-transform: uppercase
        font-family: $font_regular
        color: #fff

    .navbar-collapse.collapse
      border: 1px solid #d6d6d6
      padding: 0
      .nav.navbar-nav
        padding: 30px
        li
          display: block
          float: none
          a
            padding: 11px 0
            font-size: 16px
            color: #000
            border-bottom: 1px solid #ededed
            transition: all .3s
            &:hover
              background: transparent
              color: $main_color

        li:last-child
          a
            border: none



//
// Home slider
//

.home-page
  .home-slider
    margin: 0
    padding: 0
    height: 422px
    overflow: hidden
    li
      list-style: none
      float: left
      a
        position: relative
        display: block
        .text
          position: absolute
          bottom: 0
          left: 50%
          transform: translateX(-50%)
          width: 450px
          font-family: $font_black
          text-transform: uppercase
          font-size: 60px
      img
        width: 100%


//
// Latest block
//
.latest-block
  .product-layout
    margin-bottom: 30px
    .product-thumb
      border: 1px solid #e8e8e8
      padding: 30px 30px 20px 30px
      .top-block
        padding-bottom: 30px
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        -webkit-flex-direction: row
        -ms-flex-direction: row
        flex-direction: row
        -webkit-flex-wrap: wrap
        -ms-flex-wrap: wrap
        flex-wrap: wrap
        -webkit-justify-content: space-between
        -ms-flex-pack: justify
        justify-content: space-between
        -webkit-align-content: stretch
        -ms-flex-line-pack: stretch
        align-content: stretch
        -webkit-align-items: center
        -ms-flex-align: center
        align-items: center
        .sku
          color: $gray_color
          font-size: 14px
          font-family: $font_regular
        .wish
          a
            font-size: 16px
            color: $gray_color

      .caption
        padding-top: 30px
        .title
          font-size: 20px
          font-family: $font_regular
          padding-top: 20px
          min-height: 85px
          text-align: left
          margin: 0
          a
            color: $gray_color
            text-decoration: none
            transition: all .3s
            &:hover
              text-decoration: none
              color: $main_color

        .price
          padding-top: 25px
          font-family: $font_medium
          font-size: 24px
          color: $gray_color
          margin-bottom: 0

        .categories
          span
            font-size: 16px
            color: #fff
            background-color: $main_color
            padding: 5px 15px
            border-radius: 20px

//
// Instagram section
//
.instagram-section
  background: url('../image/main/bg-instagram.jpg')
  background-repeat: no-repeat!important
  padding-top: 65px
  .title
    font-size: 60px
    color: #fff
    text-transform: uppercase
    font-family: $font_black
    line-height: .9
    &::after
      content: ""
      display: block
      background: url('../image/main/inst-line.png')
      background-repeat: no-repeat!important
      height: 14px
      width: 470px

  .link-subscribe
    font-family: $font_medium
    font-size: 16px
    color: #fff
    display: inline-block
    padding: 8px 20px
    position: absolute
    right: 0
    margin-top: 66px
    border: 1.5px solid #fff
    border-radius: 25px
    text-transform: uppercase
    transition: all .3s
    z-index: 2
    &:hover
      background-color: $main_color
      border-color: $main_color
      text-decoration: none


  .img-glove
    position: relative
    top: 60px
    z-index: 1


//
// Subscribe section
//
.subscribe-section
  background: url(../image/main/bg-form.jpg)
  background-repeat: no-repeat!important
  background-size: cover!important
  padding: 70px 0
  .title
    margin: 0
    font-size: 60px
    color: #fff
    font-family: $font_black
    span
      font-family: $font_regular
      color: #b8b8b8
  form
    margin-top: 6px
    .form-wrapper
      .form-group
        position: relative
        input
          display: inline-block
          border-radius: 0
          outline: none
          padding: 22px 20px
        button
          display: inline-block
          position: absolute
          right: 0
          top: 0
          border: none
          background: transparent
          padding: 11px 16px
          outline: none
          box-shadow: none
          &:active,
          &:focus
            outline: none


//
// Video section
//
.video-section
  padding-top: 150px
  padding-bottom: 90px
  .video-list
    margin: 0
    padding: 0
    li
      list-style: none
      margin-bottom: 30px
      img
        width: 100%

  .text-block-video
    p
      line-height: 1.2
    .first
      margin-top: 10px

    .two-title
      margin-bottom: 60px
      margin-top: 90px

