//
// Home page
//
.common-home
  #content
    padding: 0


//
// Menu
//
.home-page
  #menu
    overflow: hidden
    .navbar-header
      background-color: $gray_color
      padding: 15px 25px
      width: 100%

      .navbar-toggle
        display: inline-block
        float: right
        margin: 0
        border: 0
        padding: 2px
        pointer-events: none

      #category
        font-size: 15px
        text-transform: uppercase
        font-family: $font_regular
        color: #fff

    .navbar-collapse.collapse
      border: 1px solid #d6d6d6
      padding: 0
      .nav.navbar-nav
        padding: 30px
        li
          display: block
          float: none
          a
            padding: 11px 0
            font-size: 16px
            color: #000
            border-bottom: 1px solid #ededed
            transition: all .3s
            &:hover
              background: transparent
              color: $main_color
            &:active,
            &:focus
              background: transparent!important

        li:last-child
          a
            border: none



//
// Home slider
//

.home-page
  .home-slider
    margin: 0
    padding: 0
    height: 500px
    overflow: hidden
    transition: all .3s ease-in-out
    li
      list-style: none
      float: left
      a
        position: relative
        display: block
        color: #fff
        text-decoration:  none
        .text
          position: absolute
          left: 47%
          width: 450px
          font-family: $font_black
          text-transform: uppercase
          font-size: 60px
          line-height: .9
          bottom: 20px
          span
            color: #ffed55

      img
        width: 100%
        height: 500px
    .slick-dots
      bottom: 29px
      left: 40px
      li
        width: 13px
        height: 13px
        button
          font-size: 0
          line-height: 0
          display: block
          width: 13px
          height: 13px
          padding: 5px
          cursor: pointer
          color: transparent
          border: 0
          outline: none
          background: #fff
          border-radius: 50%
          &:before
            font-family: 'slick'
            font-size: 6px
            line-height: 20px
            position: absolute
            top: 0
            left: 0
            width: 20px
            height: 20px
            content: '•'
            text-align: center
            opacity: .25
            color: #fff
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale
        &.slick-active
          button
            background-color: #ffed55



//
// Instagram section
//
.instagram-section
  background: url('../image/main/bg-instagram.jpg')
  background-repeat: no-repeat!important
  padding-top: 65px
  background-size: cover!important
  .title
    font-size: 60px
    color: #fff
    text-transform: uppercase
    font-family: $font_black
    line-height: .9
    &::after
      content: ""
      display: block
      background: url('../image/main/inst-line.png')
      background-repeat: no-repeat!important
      height: 14px
      width: 470px

  .link-subscribe
    font-family: $font_medium
    font-size: 16px
    color: #fff
    display: inline-block
    padding: 8px 20px
    position: absolute
    right: 0
    margin-top: 66px
    border: 1.5px solid #fff
    border-radius: 25px
    text-transform: uppercase
    transition: all .3s
    z-index: 2
    &:hover
      background-color: $main_color
      border-color: $main_color
      text-decoration: none


  .img-glove
    position: relative
    top: 60px
    z-index: 1
  #instagram-widget
    .data
      margin-bottom: -30px
      .image
        margin: 0 15px 30px 15px
        display: inline-block
        img
          width: 170px
          height: 170px
          object-fit: cover!important
  .text-inst
    font-size: 16px
    font-family: $font_regular
    color: #fff
    margin-bottom: 0
    padding: 0 15px



//
// Subscribe section
//
.subscribe-section
  background: url(../image/main/bg-form.jpg)
  background-repeat: no-repeat!important
  background-size: cover!important
  padding: 70px 0
  .title
    margin: 0
    font-size: 60px
    color: #fff
    font-family: $font_black
    span
      font-family: $font_regular
      color: #b8b8b8
  form
    margin-top: 6px
    .form-wrapper
      .form-group
        position: relative
        input
          display: inline-block
          border-radius: 0
          outline: none
          padding: 22px 20px
        button
          display: inline-block
          position: absolute
          right: 0
          top: 0
          border: none
          background: transparent
          padding: 11px 16px
          outline: none
          box-shadow: none
          &:active,
          &:focus
            outline: none


//
// Video section
//
.video-section
  padding-top: 150px
  padding-bottom: 90px
  .video-list
    margin: 0
    padding: 0
    li
      list-style: none
      margin-bottom: 30px
      img
        width: 100%

  .text-block-video
    p
      line-height: 1.2
    .first
      margin-top: 10px

    .two-title
      margin-bottom: 60px
      margin-top: 90px

//
// Home page Set section
//
.cat-section
  padding-top: 35px
  padding-bottom: 150px
  .list-specific-products
    margin: 0 -15px
    padding: 0
    height: 540px
    overflow: hidden
    li
      list-style: none
  .wrapper-slider
    margin-top: 65px
    height: 7px
    padding: 0 15px
    background-color:  #e9e9e9
    width: 100%
    border-radius: 20px


//
// page category
//
.category-page
  h1
    font-family: $font_medium
    font-size: 33px
    color: #000
    margin: 0 0 25px
  .filter-items-block
    margin-bottom: 40px
  .sort-by-fields-block
    .title-sort
      font-size: 16px
      color: #000
      font-family: $font_light
      display: inline
    .list-sort-values
      display: inline
      margin: 0
      padding: 0
      li
        margin-left: 15px
        display: inline-block
        a
          font-size: 16px
          color: #b6b6b6
          border-bottom: 1px solid #b6b6b6
          &.active
            color: $main_color
            border-color: #fff!important
          &:hover
            text-decoration: none
            color: $main_color

    &.items-per-page
      padding-left: 20px
      .list-sort-values a
        color: #000
        border-bottom: 1px solid #000

  .product-layout
    .product-thumb
      .caption
        .title
          min-height: 110px

  .products-row
    margin-bottom: 40px
  .load-more-button
    font-size: 18px
    color: $main_color
    text-decoration: underline
    transition: all .3s
    padding: 30px 0 90px
    display: inline-block
    cursor: pointer
    &:hover
      color: $gray_color
.accordion-block
  padding: 40px 25px
  border: 1px solid #dcdcdc
  margin-right: 20px

  .title
    margin-top: 0
    margin-bottom: 35px
    display: -ms-flexbox
    display: -webkit-flex
    display: flex

    p
      margin-bottom: 0
      font-size: 24px
      color: #3f4047
      font-family: $font_bold
    .img-block
      width: 18px!important
      height: 11px
      padding: 0px 0
      margin: 8px 0 8px 20px
      img
        display: block
  .row-common
    ul
      margin: 0
      padding: 0
      li
        list-style: none
        margin-bottom: 10px
        a
          font-family: $font_regular
          font-size: 16px
          color: #3f4047
          text-decoration: none
          transition:  all .3s
          &:hover
            color: $main_color
          i
            color: #e3e3e3
            padding-right: 8px

      li:last-child
        margin-bottom: 0

  .panel
    margin-bottom: 0!important
    &.ocfilter.panel-default
      box-shadow: none
  .panel-default,
  .list-group-item.ocfilter-option
    border: none!important
    padding: 0
  .option-name.alter
    font-size: 24px
    color: #3f4047
    font-family: $font_bold
      margin-top: 20px
    display: inline-block
  .noUi-connect
    background: $main_color
  .selected-options .ocfilter-option
    background: transparent
  .list-group-item
    border: none
  .ocfilter-option label a
    color: #3f4047
    font-family: $font_regular
  .ocfilter-option label small
    background-color: #df5a5a
    color: #fff
    vertical-align: middle
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    line-height: 1.3
    padding: 1px 5px
    font-family: $font_medium
  .badge
    padding: 5px 7px
  .ocfilter-option label
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    position: relative
    margin-bottom: 10px
  .ocfilter-option-popover
    button
      transition: all .3s
      background-color: $main_color
      &:hover
        background-color: $gray_color
  div#option-m
    margin-top: 30px
    display: inline-block
#column-left
  .accordion-block
    margin-bottom: 20px
  .accordion-block:last-child
    margin-bottom: 0


