$font_medium: 'Gotham Pro Medium'
$font_regular: 'Gotham Pro'
$font_light: 'Gotham Pro Light'
$font_bold: 'Gotham Pro Bold'
$font_black: 'Gotham Pro Black'
$main_color: #df5a5a
$gray_color: #3f4047
=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content


@font-face
  font-family: 'Gotham Pro Medium'
  src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
  url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Medium.woff') format('woff'),
  url('../fonts/GothamPro-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Gotham Pro'
  src: local('Gotham Pro'), local('GothamPro'),
  url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Gotham Pro Light'
  src: local('Gotham Pro Light'), local('GothamPro-Light'),
  url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Light.woff') format('woff'),
  url('../fonts/GothamPro-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal


@font-face
  font-family: 'Gotham Pro Bold'
  src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
  url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Bold.woff') format('woff'),
  url('../fonts/GothamPro-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'Gotham Pro Black'
  src: local('Gotham Pro Black'), local('GothamPro-Black'),
  url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Black.woff') format('woff'),
  url('../fonts/GothamPro-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal


body
  font-family: $font_light
  font-size: 17px
  line-height: 1.5
.main-page .content *,
.main-page .content
  font-family: $font_light!important
  font-size: 17px!important
  line-height: 1.5!important

//
// Linked styles
//
footer,
header .top
  .phone-block
    img
      vertical-align: top
      padding-top: 7px

    .lists-phones
      margin: 0
      padding: 0 0 0 20px
      display: inline-block
      li
        list-style: none
        a
          font-size: 24px
          color: #000
          text-decoration: none
          font-family: $font_medium
          transition: all .3s
          &:hover
            color: $main_color
.tab-link-read-more,
body[class^="account-"] .btn.btn-primary, body[class*=" account-"] .btn.btn-primary,
.btn-main,
.page-checkout .btn.btn-primary,
.cart-page .buttons .btn.btn-primary,
.product-page #product #button-cart,
footer .request-call-block .link-call button,
header .top .request-call-block .link-call button,
#button-search
  font-family: $font_regular
  display: inline-block
  font-size: 18px
  padding: 10px 30px
  background-color: $main_color
  border-radius: 25px
  color: #fff
  transition: all .3s
  border: none
  &:hover
    text-decoration: none
    background-color: #000
  &:active,
  &:focus
    outline: none





footer .search-block,
header .bottom
  .search
    +placeholder
      border-radius: 0
      font-size: 15px
      color: #8d8d8d
    input
      border: 1px solid #d6d6d6
      border-radius: 0
      font-size: 15px
      color: #8d8d8d
      &:active,
      &:focus
        outline: none
        box-shadow: none
    .input-group-btn
      width: auto!important
    &.input-group
      display: contents!important
    button.btn.btn-default.btn-lg
      border-left: none
      border-radius: 0
      padding-right: 30px
      padding-left: 30px
      transition: all .3s
      i
        color: $main_color
      &:hover
        background-color: #000
        color: #fff
        i
          color: #fff
.hidden-title
  margin: 0
  height: 0
  overflow: hidden

.block-title
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: row
  -ms-flex-direction: row
  flex-direction: row
  -webkit-flex-wrap: nowrap
  -ms-flex-wrap: nowrap
  flex-wrap: nowrap
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-align-content: stretch
  -ms-flex-line-pack: stretch
  align-content: stretch
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  margin-bottom: 75px
.block-title,
.block-title-alternative
  .sub-title
    margin-top: 0
    font-size: 30px
    font-family: $font_medium
    color: $gray_color
    margin-bottom: 0
  .link-to-all
    display: inline-block
    color: $gray_color
    font-size: 16px
    font-family: $font_regular
    padding: 10px 30px
    border: 1.5px solid #d0d0d0
    border-radius: 25px
    margin-left: 40px
    transition: all .3s ease-in-out
    &:hover
      text-decoration: none
      color: #fff
      background-color: $main_color
      border-color: $main_color
.search-page,
.list-linked-products,
.category-page,
.list-specific-products,
.latest-block
  .product-layout
    margin-bottom: 30px
    .product-thumb
      border: 1px solid #e8e8e8
      padding: 30px 30px 20px 30px
      .top-block
        padding-bottom: 30px
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        -webkit-flex-direction: row
        -ms-flex-direction: row
        flex-direction: row
        -webkit-flex-wrap: wrap
        -ms-flex-wrap: wrap
        flex-wrap: wrap
        -webkit-justify-content: space-between
        -ms-flex-pack: justify
        justify-content: space-between
        -webkit-align-content: stretch
        -ms-flex-line-pack: stretch
        align-content: stretch
        -webkit-align-items: center
        -ms-flex-align: center
        align-items: center
        .sku
          color: $gray_color
          font-size: 14px
          font-family: $font_regular
        .wish
          a
            font-size: 16px
            color: $main_color
      .image
        position: relative

        .sale
          background: url("/catalog/view/theme/theme/images/sale.png")
          background-repeat: no-repeat!important
          width: 103px
          height: 61px
          position: absolute
          bottom: -22px
          right: 0
          padding-top: 17px
          text-align: center
          padding-left: 5px
          color: #fff

      .caption
        padding-top: 30px
        .title
          font-size: 20px
          font-family: $font_regular
          padding-top: 20px
          min-height: 85px
          text-align: left
          margin: 0
          a
            color: $gray_color
            text-decoration: none
            transition: all .3s
            &:hover
              text-decoration: none
              color: $main_color

        .price
          padding-top: 25px
          font-family: $font_medium
          font-size: 24px
          color: $gray_color
          margin-bottom: 0
          .price-old
            font-size: 14px
            text-decoration: line-through
        .categories
          span
            font-size: 16px
            color: #fff
            background-color: $main_color
            padding: 5px 15px
            border-radius: 20px

.breadcrumb>li+li:before
  content: "-"

.breadcrumb
  background-color: transparent!important
  padding: 0
  margin: 60px 0
  li
    a
      font-size: 15px
      color: #8d8d8d
      text-decoration: none
      transition: all .3s
      &:hover
        color: $main_color





//
// Slider
//
.ui-slider
  position: relative
  text-align: left
  outline: none
  box-shadow: none
  .ui-slider-handle
    position: absolute
    z-index: 2
    width: 160px
    height: 7px
    cursor: default
    background-color: $main_color
    border-radius: 20px
    transform: translateX(-50%)

.ui-slider-horizontal
  background-color: #e9e9e9
  height: 7px
  border-radius: 20px
  width: 90%
  margin:  0 auto
  &:focus,
  &:active
    outline: none
    box-shadow: none


.modal-header
  button.close
    padding: 0!important
    display: inherit!important
    color: #2b2b2b!important
    background-color: transparent!important

.modal-dialog
  margin: 30px auto
  position: absolute
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)!important

.block-title-alternative
  .sub-title
    display: inline-block
  a
    display: inline-block

.padding-top-90
  padding-top: 90px
.error-page
  margin: 40px 0

  .title
    text-align: center
    font-family: $font_medium
    font-size: 40px
  p
    text-align: center

.search-page
  margin-bottom: 40px

.main-page
  margin-bottom: 40px
.flex
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: row
  -ms-flex-direction: row
  flex-direction: row
  -webkit-flex-wrap: nowrap
  -ms-flex-wrap: nowrap
  flex-wrap: nowrap
  -webkit-justify-content: center
  -ms-flex-pack: start
  justify-content: start
  -webkit-align-content: stretch
  -ms-flex-line-pack: stretch
  align-content: stretch
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center



.grid-view-hide
  display: none!important


.dropdown-menu
  position: relative!important
  border: none!important
  box-shadow: none
  padding: 5px 0 5px 20px
  a
    border: none!important
.no-dispaly
  display: none!important


@import "header.sass"
@import "main.sass"
@import "footer.sass"

.product-manufacturer,
.information-information-9,
.information-information-8
  .title
    font-size: 33px
    font-family: $font_medium
    margin-bottom: 55px


@media  (min-width: 1260px)
  .container
    width: 1260px

@media  (max-width: 1260px)
  .instagram-section #instagram-widget .data .image img
    width: 150px!important
    height: 150px!important
@media  (max-width: 1200px)
  .home-page #menu .navbar-collapse.collapse .nav.navbar-nav li .dropdown-menu
    width: 760px
  #top-bar
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-flex-direction: row
    -ms-flex-direction: row
    flex-direction: row
    -webkit-flex-wrap: nowrap
    -ms-flex-wrap: nowrap
    flex-wrap: nowrap
    -webkit-justify-content: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-align-content: stretch
    -ms-flex-line-pack: stretch
    align-content: stretch
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center

  .home-page
    .home-slider
      li
        a
          .text
            left: 36%
            width: 50%
  .instagram-section
    .img-glove
      width: 80%
    #instagram-widget .data .image img
      width: 120px !important
      height: 120px !important

  .video-section
    .sub-title
      display: block
    .block-title-alternative .link-to-all
      margin-left: 0!important
      margin-top: 20px
  footer
    .phone-block
      display: flex
      img
        height: 25px!important

  .accordion-block
    padding: 29px 0px
    border: 0

  .product-page #product .link-to-all-size
    display: flex
    height: auto
    p
      border: none!important
    img
      padding-right: 8px

  .product-page #product .cm-attribute-potion-block
    margin-bottom: 25px
  .product-page #product .link-to-all-size
    margin-bottom: 30px

@media  (max-width: 1024px)
  .home-page
    #menu
      .navbar-collapse.collapse
        .nav.navbar-nav
          li
            .dropdown-menu
              box-shadow: none!important
              margin-bottom: 10px
              width: auto!important
              left: 0!important
              position: relative!important
              .title
                display: none


              .dropdown-inner
                column-count: 1
                img
                  display: none!important


@media  (max-width: 992px)
  #ocfilter-mobile
    display: none!important
  .video-section
    padding-top: 0px!important
    padding-bottom: 90px!important
    margin-top: -55px!important
  #logo img
    height: auto
  #top-bar .s-b
    text-align: right
  .home-page
    .home-slider
      li
        a
          .text
            left: 20px
            width: 100%
            bottom: 50px
            font-size: 40px
  #menu
    .navbar-collapse.collapse
      display: none!important
      &.active
        display: block!important
  .wrapper-slider
    display: none!important
  .instagram-section
    padding-top: 30px
    padding-bottom: 190px
    .title
      font-size: 35px
      &::after
        display: none!important
    .link-subscribe
      position: inherit!important
      margin-top: 11px!important
      margin-bottom: 33px!important
    .img-glove
      display: none!important
  footer .social-block,
  footer .email-block
    margin: 0!important
    padding-top: 30px
  footer .delivery-block
    margin-left: 0

  .category-page .sort-by-fields-block.items-per-page
    padding-left: 0
    margin-bottom: 0


@media  (max-width: 768px)
  .video-section
    padding-bottom: 60px !important
    p.padding-top-90.first
      padding-top: 20px!important
  .subscribe-section .title
    font-size: 40px
  #top-bar .s-b
    text-align: center
    .navigation,
    .work-time
      display: block
    .navigation
      float: none
      text-align: center

  #logo img
    height: 150px
  .home-page
    .home-slider
      height: auto!important
      li img
        height: auto!important
      .text
        left: 0!important
        bottom: 70px!important
        font-size: 30px!important
        padding: 0 25px

      .slick-dots
        left: 25px!important
        bottom: 25px!important

  header
    .top
      .phone-block
        display: none


    .wish-block
      display: none!important

  .product-layout.col-lg-3.col-md-3.col-sm-6.col-xs-12
    padding: 0 20px

  header
    .bottom
      padding-top: 30px
      display: block
      .top-category-page-category
        background-color: #3f4047
        width: 100%
        margin-right: 0
        margin-bottom: 30px

      .search.input-group
        display: flex!important

  .breadcrumb
    margin: 15px 0

  .product-page .tab-second-block .nav.nav-tabs li a
    padding: 15px 15px!important

  .product-page .tab-second-block .nav.nav-tabs
    display: block

  .product-page .linked-products .title
    margin-top: 50px
    margin-bottom: 50px


  .review-block
    .slick-next
      right: 15px!important
    .slick-prev
      left: 15px!important

@media  (max-width: 600px)
  .promotion-block
    .text-wrapper div
      width: 55px
  #countdown
    margin-bottom: -38px
    .digit
      font-size: 17px
    .position
      width: 20px
    .countDiv
      height: 81px


  .review-block
    .review-item-walp
      width: 90%
      .img-block
        margin-bottom: 20px!important
      .divider
        margin-top: 10px!important


  .modal-dialog
    width: 100%
  header
    .top
      text-align: center
      .request-call-block,
      .cart-block
        display: block
        width: 100%
        margin-top: 20px
        .dropdown-menu.pull-right
          min-width: auto!important
          li:first-child
            td:first-child,
            td:nth-child(3n),
            td:nth-child(4n)
              display: none
          li:last-child
            .table.table-bordered
              display: none
            a
              display: block
              text-align: left



  .checkout-cart
    .buttons
      text-align: center
      .pull-right,
      .pull-left
        float: none!important
      a
        margin-top: 10px

    .contact-block
      .block-item
        margin-bottom: 35px
        .heading
          margin-bottom: 10px


.padding-top-50
  padding-top: 50px
#map
  width: 100%
  height: 500px
  margin-bottom: 90px

.review-item,
.slick-track
  outline: none
  box-shadow: none



.dropdown-menu a
  display: inline-block




.sale-class::before
  content: ""
  display: block
  background: url("../image/main/tag.png")
  width: 29px
  height: 20px
  position: absolute
  left: 155px


