$font_medium: 'Gotham Pro Medium'
$font_regular: 'Gotham Pro'
$font_light: 'Gotham Pro Light'
$font_bold: 'Gotham Pro Bold'
$font_black: 'Gotham Pro Black'
$main_color: #df5a5a
$gray_color: #3f4047
=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content


@font-face
  font-family: 'Gotham Pro Medium'
  src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
  url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Medium.woff') format('woff'),
  url('../fonts/GothamPro-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Gotham Pro'
  src: local('Gotham Pro'), local('GothamPro'),
  url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Gotham Pro Light'
  src: local('Gotham Pro Light'), local('GothamPro-Light'),
  url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Light.woff') format('woff'),
  url('../fonts/GothamPro-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal


@font-face
  font-family: 'Gotham Pro Bold'
  src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
  url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Bold.woff') format('woff'),
  url('../fonts/GothamPro-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'Gotham Pro Black'
  src: local('Gotham Pro Black'), local('GothamPro-Black'),
  url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Black.woff') format('woff'),
  url('../fonts/GothamPro-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal


body
  font-family: $font_light
  font-size: 17px
  line-height: 1.5

//
// Linked styles
//
footer,
header .top
  .phone-block
    img
      vertical-align: top
      padding-top: 7px

    .lists-phones
      margin: 0
      padding: 0 0 0 20px
      display: inline-block
      li
        list-style: none
        a
          font-size: 24px
          color: #000
          text-decoration: none
          font-family: $font_medium
          transition: all .3s
          &:hover
            color: $main_color

  .request-call-block
    .link-call
      button
        font-family: $font_regular
        display: inline-block
        font-size: 18px
        padding: 10px 30px
        background-color: $main_color
        border-radius: 25px
        color: #fff
        transition: all .3s
        &:hover
          text-decoration: none
          background-color: #000
        &:active,
        &:focus
          outline: none

footer .search-block,
header .bottom
  .search
    +placeholder
      border-radius: 0
      font-size: 15px
      color: #8d8d8d
    input
      border: 1px solid #d6d6d6
      border-radius: 0
      font-size: 15px
      color: #8d8d8d
      &:active,
      &:focus
        outline: none
        box-shadow: none
    button.btn.btn-default.btn-lg
      border-left: none
      border-radius: 0
      padding-right: 30px
      padding-left: 30px
      transition: all .3s
      i
        color: $main_color
      &:hover
        background-color: #000
        color: #fff
        i
          color: #fff
.hidden-title
  margin: 0
  height: 0
  overflow: hidden

.block-title
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: row
  -ms-flex-direction: row
  flex-direction: row
  -webkit-flex-wrap: nowrap
  -ms-flex-wrap: nowrap
  flex-wrap: nowrap
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-align-content: stretch
  -ms-flex-line-pack: stretch
  align-content: stretch
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  margin-bottom: 75px
.block-title,
.block-title-alternative
  .sub-title
    margin-top: 0
    font-size: 30px
    font-family: $font_medium
    color: $gray_color
    margin-bottom: 0
  .link-to-all
    display: inline-block
    color: $gray_color
    font-size: 16px
    font-family: $font_regular
    padding: 10px 30px
    border: 1.5px solid #d0d0d0
    border-radius: 25px
    margin-left: 40px
    transition: all .3s ease-in-out
    &:hover
      text-decoration: none
      color: #fff
      background-color: $main_color
      border-color: $main_color

.list-specific-products,
.latest-block
  .product-layout
    margin-bottom: 30px
    .product-thumb
      border: 1px solid #e8e8e8
      padding: 30px 30px 20px 30px
      .top-block
        padding-bottom: 30px
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        -webkit-flex-direction: row
        -ms-flex-direction: row
        flex-direction: row
        -webkit-flex-wrap: wrap
        -ms-flex-wrap: wrap
        flex-wrap: wrap
        -webkit-justify-content: space-between
        -ms-flex-pack: justify
        justify-content: space-between
        -webkit-align-content: stretch
        -ms-flex-line-pack: stretch
        align-content: stretch
        -webkit-align-items: center
        -ms-flex-align: center
        align-items: center
        .sku
          color: $gray_color
          font-size: 14px
          font-family: $font_regular
        .wish
          a
            font-size: 16px
            color: $gray_color

      .caption
        padding-top: 30px
        .title
          font-size: 20px
          font-family: $font_regular
          padding-top: 20px
          min-height: 85px
          text-align: left
          margin: 0
          a
            color: $gray_color
            text-decoration: none
            transition: all .3s
            &:hover
              text-decoration: none
              color: $main_color

        .price
          padding-top: 25px
          font-family: $font_medium
          font-size: 24px
          color: $gray_color
          margin-bottom: 0

        .categories
          span
            font-size: 16px
            color: #fff
            background-color: $main_color
            padding: 5px 15px
            border-radius: 20px


//
// Slider
//
.ui-slider
  position: relative
  text-align: left
  outline: none
  box-shadow: none
  .ui-slider-handle
    position: absolute
    z-index: 2
    width: 160px
    height: 7px
    cursor: default
    background-color: $main_color
    border-radius: 20px
    transform: translateX(-50%)

.ui-slider-horizontal
  background-color: #e9e9e9
  height: 7px
  border-radius: 20px
  width: 90%
  margin:  0 auto
  &:focus,
  &:active
    outline: none
    box-shadow: none


.modal-header
  button.close
    padding: 0!important
    display: inherit!important
    color: #2b2b2b!important
    background-color: transparent!important

.modal-dialog
  margin: 30px auto
  position: absolute
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)!important

.block-title-alternative
  .sub-title
    display: inline-block
  a
    display: inline-block

.padding-top-90
  padding-top: 90px

@media  (min-width: 1260px)
  .container
    width: 1260px

@import "header.sass"
@import "main.sass"
@import "footer.sass"


