@charset "UTF-8";
@font-face {
  font-family: 'Gotham Pro Medium';
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro"), local("GothamPro"), url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Light';
  src: local("Gotham Pro Light"), local("GothamPro-Light"), url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Bold';
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Black';
  src: local("Gotham Pro Black"), local("GothamPro-Black"), url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

body {
  font-family: "Gotham Pro Light";
  font-size: 17px;
  line-height: 1.5; }

.main-page .content *,
.main-page .content {
  font-family: "Gotham Pro Light" !important;
  font-size: 17px !important;
  line-height: 1.5 !important; }

footer .phone-block img,
header .top .phone-block img {
  vertical-align: top;
  padding-top: 7px; }

footer .phone-block .lists-phones,
header .top .phone-block .lists-phones {
  margin: 0;
  padding: 0 0 0 20px;
  display: inline-block; }
  footer .phone-block .lists-phones li,
  header .top .phone-block .lists-phones li {
    list-style: none; }
    footer .phone-block .lists-phones li a,
    header .top .phone-block .lists-phones li a {
      font-size: 24px;
      color: #000;
      text-decoration: none;
      font-family: "Gotham Pro Medium";
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      footer .phone-block .lists-phones li a:hover,
      header .top .phone-block .lists-phones li a:hover {
        color: #df5a5a; }

.page-checkout .btn.btn-primary,
.cart-page .buttons .btn.btn-primary,
.product-page #product #button-cart,
footer .request-call-block .link-call button,
header .top .request-call-block .link-call button,
#button-search {
  font-family: "Gotham Pro";
  display: inline-block;
  font-size: 18px;
  padding: 10px 30px;
  background-color: #df5a5a;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border: none; }
  .page-checkout .btn.btn-primary:hover,
  .cart-page .buttons .btn.btn-primary:hover,
  .product-page #product #button-cart:hover,
  footer .request-call-block .link-call button:hover,
  header .top .request-call-block .link-call button:hover,
  #button-search:hover {
    text-decoration: none;
    background-color: #000; }
  .page-checkout .btn.btn-primary:active, .page-checkout .btn.btn-primary:focus,
  .cart-page .buttons .btn.btn-primary:active,
  .cart-page .buttons .btn.btn-primary:focus,
  .product-page #product #button-cart:active,
  .product-page #product #button-cart:focus,
  footer .request-call-block .link-call button:active,
  footer .request-call-block .link-call button:focus,
  header .top .request-call-block .link-call button:active,
  header .top .request-call-block .link-call button:focus,
  #button-search:active,
  #button-search:focus {
    outline: none; }

footer .search-block .search::-webkit-input-placeholder,
header .bottom .search::-webkit-input-placeholder {
  -webkit-border-radius: 0;
          border-radius: 0;
  font-size: 15px;
  color: #8d8d8d; }

footer .search-block .search:-moz-placeholder,
header .bottom .search:-moz-placeholder {
  border-radius: 0;
  font-size: 15px;
  color: #8d8d8d; }

footer .search-block .search::-moz-placeholder,
header .bottom .search::-moz-placeholder {
  border-radius: 0;
  font-size: 15px;
  color: #8d8d8d; }

footer .search-block .search:-ms-input-placeholder,
header .bottom .search:-ms-input-placeholder {
  border-radius: 0;
  font-size: 15px;
  color: #8d8d8d; }

footer .search-block .search input,
header .bottom .search input {
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-size: 15px;
  color: #8d8d8d; }
  footer .search-block .search input:active, footer .search-block .search input:focus,
  header .bottom .search input:active,
  header .bottom .search input:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

footer .search-block .search .input-group-btn,
header .bottom .search .input-group-btn {
  width: auto !important; }

footer .search-block .search.input-group,
header .bottom .search.input-group {
  display: contents !important; }

footer .search-block .search button.btn.btn-default.btn-lg,
header .bottom .search button.btn.btn-default.btn-lg {
  border-left: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  footer .search-block .search button.btn.btn-default.btn-lg i,
  header .bottom .search button.btn.btn-default.btn-lg i {
    color: #df5a5a; }
  footer .search-block .search button.btn.btn-default.btn-lg:hover,
  header .bottom .search button.btn.btn-default.btn-lg:hover {
    background-color: #000;
    color: #fff; }
    footer .search-block .search button.btn.btn-default.btn-lg:hover i,
    header .bottom .search button.btn.btn-default.btn-lg:hover i {
      color: #fff; }

.hidden-title {
  margin: 0;
  height: 0;
  overflow: hidden; }

.block-title {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 75px; }

.block-title .sub-title,
.block-title-alternative .sub-title {
  margin-top: 0;
  font-size: 30px;
  font-family: "Gotham Pro Medium";
  color: #3f4047;
  margin-bottom: 0; }

.block-title .link-to-all,
.block-title-alternative .link-to-all {
  display: inline-block;
  color: #3f4047;
  font-size: 16px;
  font-family: "Gotham Pro";
  padding: 10px 30px;
  border: 1.5px solid #d0d0d0;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  margin-left: 40px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .block-title .link-to-all:hover,
  .block-title-alternative .link-to-all:hover {
    text-decoration: none;
    color: #fff;
    background-color: #df5a5a;
    border-color: #df5a5a; }

.list-linked-products .product-layout,
.category-page .product-layout,
.list-specific-products .product-layout,
.latest-block .product-layout {
  margin-bottom: 30px; }
  .list-linked-products .product-layout .product-thumb,
  .category-page .product-layout .product-thumb,
  .list-specific-products .product-layout .product-thumb,
  .latest-block .product-layout .product-thumb {
    border: 1px solid #e8e8e8;
    padding: 30px 30px 20px 30px; }
    .list-linked-products .product-layout .product-thumb .top-block,
    .category-page .product-layout .product-thumb .top-block,
    .list-specific-products .product-layout .product-thumb .top-block,
    .latest-block .product-layout .product-thumb .top-block {
      padding-bottom: 30px;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -webkit-box;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      -webkit-box-pack: justify;
              justify-content: space-between;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      -ms-flex-align: center;
      -webkit-box-align: center;
              align-items: center; }
      .list-linked-products .product-layout .product-thumb .top-block .sku,
      .category-page .product-layout .product-thumb .top-block .sku,
      .list-specific-products .product-layout .product-thumb .top-block .sku,
      .latest-block .product-layout .product-thumb .top-block .sku {
        color: #3f4047;
        font-size: 14px;
        font-family: "Gotham Pro"; }
      .list-linked-products .product-layout .product-thumb .top-block .wish a,
      .category-page .product-layout .product-thumb .top-block .wish a,
      .list-specific-products .product-layout .product-thumb .top-block .wish a,
      .latest-block .product-layout .product-thumb .top-block .wish a {
        font-size: 16px;
        color: #df5a5a; }
    .list-linked-products .product-layout .product-thumb .caption,
    .category-page .product-layout .product-thumb .caption,
    .list-specific-products .product-layout .product-thumb .caption,
    .latest-block .product-layout .product-thumb .caption {
      padding-top: 30px; }
      .list-linked-products .product-layout .product-thumb .caption .title,
      .category-page .product-layout .product-thumb .caption .title,
      .list-specific-products .product-layout .product-thumb .caption .title,
      .latest-block .product-layout .product-thumb .caption .title {
        font-size: 20px;
        font-family: "Gotham Pro";
        padding-top: 20px;
        min-height: 85px;
        text-align: left;
        margin: 0; }
        .list-linked-products .product-layout .product-thumb .caption .title a,
        .category-page .product-layout .product-thumb .caption .title a,
        .list-specific-products .product-layout .product-thumb .caption .title a,
        .latest-block .product-layout .product-thumb .caption .title a {
          color: #3f4047;
          text-decoration: none;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
          .list-linked-products .product-layout .product-thumb .caption .title a:hover,
          .category-page .product-layout .product-thumb .caption .title a:hover,
          .list-specific-products .product-layout .product-thumb .caption .title a:hover,
          .latest-block .product-layout .product-thumb .caption .title a:hover {
            text-decoration: none;
            color: #df5a5a; }
      .list-linked-products .product-layout .product-thumb .caption .price,
      .category-page .product-layout .product-thumb .caption .price,
      .list-specific-products .product-layout .product-thumb .caption .price,
      .latest-block .product-layout .product-thumb .caption .price {
        padding-top: 25px;
        font-family: "Gotham Pro Medium";
        font-size: 24px;
        color: #3f4047;
        margin-bottom: 0; }
      .list-linked-products .product-layout .product-thumb .caption .categories span,
      .category-page .product-layout .product-thumb .caption .categories span,
      .list-specific-products .product-layout .product-thumb .caption .categories span,
      .latest-block .product-layout .product-thumb .caption .categories span {
        font-size: 16px;
        color: #fff;
        background-color: #df5a5a;
        padding: 5px 15px;
        -webkit-border-radius: 20px;
                border-radius: 20px; }

.breadcrumb > li + li:before {
  content: "-"; }

.breadcrumb {
  background-color: transparent !important;
  padding: 0;
  margin: 60px 0; }
  .breadcrumb li a {
    font-size: 15px;
    color: #8d8d8d;
    text-decoration: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .breadcrumb li a:hover {
      color: #df5a5a; }

.ui-slider {
  position: relative;
  text-align: left;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 160px;
    height: 7px;
    cursor: default;
    background-color: #df5a5a;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.ui-slider-horizontal {
  background-color: #e9e9e9;
  height: 7px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  width: 90%;
  margin: 0 auto; }
  .ui-slider-horizontal:focus, .ui-slider-horizontal:active {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.modal-header button.close {
  padding: 0 !important;
  display: inherit !important;
  color: #2b2b2b !important;
  background-color: transparent !important; }

.modal-dialog {
  margin: 30px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) !important;
      -ms-transform: translateX(-50%) translateY(-50%) !important;
          transform: translateX(-50%) translateY(-50%) !important; }

.block-title-alternative .sub-title {
  display: inline-block; }

.block-title-alternative a {
  display: inline-block; }

.padding-top-90 {
  padding-top: 90px; }

.error-page {
  margin: 40px 0; }
  .error-page .title {
    text-align: center;
    font-family: "Gotham Pro Medium";
    font-size: 40px; }
  .error-page p {
    text-align: center; }

.search-page {
  margin-bottom: 40px; }

.main-page {
  margin-bottom: 40px; }

.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center; }

.grid-view-hide {
  display: none !important; }

.dropdown-menu {
  position: relative !important;
  border: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 5px 0 5px 20px; }
  .dropdown-menu a {
    border: none !important; }

.no-dispaly {
  display: none !important; }

#logo img {
  height: 200px;
  margin: 0 auto; }

#top-bar {
  padding: 7px 0;
  background-color: #3f4047;
  color: #fff;
  font-size: 15px;
  font-family: "Gotham Pro"; }
  #top-bar .list-information {
    margin: 0;
    padding: 0; }
    #top-bar .list-information li {
      display: inline;
      padding-right: 50px; }
      #top-bar .list-information li a,
      #top-bar .list-information li p {
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
        height: 19px; }
      #top-bar .list-information li a {
        text-decoration: none;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        height: auto;
        color: #fff; }
      #top-bar .list-information li img {
        padding-right: 15px; }
    #top-bar .list-information li:last-child {
      padding-right: 0; }
  #top-bar .work-time {
    display: inline-block; }
    #top-bar .work-time span {
      color: #ffc770;
      font-family: "Gotham Pro Medium"; }
  #top-bar .navigation {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right; }
    #top-bar .navigation li {
      display: inline; }
      #top-bar .navigation li a {
        color: #fff; }

header {
  padding: 20px 0; }
  header .top {
    padding-top: 40px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center; }
    header .top > div {
      display: inline-block; }
    header .top .cart-block .btn-group.open .dropdown-toggle {
      -webkit-box-shadow: none !important;
              box-shadow: none !important; }
    header .top .cart-block #cart {
      width: auto;
      padding-right: 50px; }
      header .top .cart-block #cart .dropdown-menu.pull-right {
        position: absolute !important;
        margin-top: 0;
        padding: 15px 5px 5px 5px;
        -webkit-box-shadow: 1px 1px 5px 1px #eee;
                box-shadow: 1px 1px 5px 1px #eee;
        min-width: 400px; }
        header .top .cart-block #cart .dropdown-menu.pull-right .table > tbody > tr > td,
        header .top .cart-block #cart .dropdown-menu.pull-right .table > tbody > tr > th,
        header .top .cart-block #cart .dropdown-menu.pull-right .table > tfoot > tr > td,
        header .top .cart-block #cart .dropdown-menu.pull-right .table > tfoot > tr > th,
        header .top .cart-block #cart .dropdown-menu.pull-right .table > thead > tr > td,
        header .top .cart-block #cart .dropdown-menu.pull-right .table > thead > tr > th {
          vertical-align: middle;
          border: none; }
        header .top .cart-block #cart .dropdown-menu.pull-right .table td:nth-child(3n) {
          width: 45px; }
        header .top .cart-block #cart .dropdown-menu.pull-right .table tr {
          background-color: transparent !important; }
        header .top .cart-block #cart .dropdown-menu.pull-right a {
          text-decoration: none;
          color: #3f4047;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
          header .top .cart-block #cart .dropdown-menu.pull-right a:hover {
            color: #df5a5a; }
        header .top .cart-block #cart .dropdown-menu.pull-right .table-bordered {
          border: none;
          border-top: 1px solid #eee; }
        header .top .cart-block #cart .dropdown-menu.pull-right button.btn.btn-danger.btn-xs {
          color: red; }
    header .top .cart-block button {
      background: transparent;
      border: none; }
    header .top .cart-block a {
      text-decoration: none; }
      header .top .cart-block a p {
        margin-bottom: 0;
        display: inline-block;
        font-size: 15px;
        font-family: "Gotham Pro";
        color: #000;
        padding-left: 10px; }
    header .top .cart-block #cart-total,
    header .top .cart-block .wish-block .count {
      font-size: 10px;
      color: #fff;
      font-family: "Gotham Pro Medium";
      background-color: #df5a5a;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      width: 18px;
      text-align: center;
      height: 18px;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 2px;
      left: 27px;
      line-height: 20px; }
    header .top .cart-block .wish-block {
      text-decoration: none;
      display: inline-block;
      position: relative; }
      header .top .cart-block .wish-block p {
        padding-left: 10px;
        margin: 0;
        display: inline-block; }
      header .top .cart-block .wish-block .count {
        top: -2px;
        left: 19px; }
  header .bottom {
    padding-top: 42px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex; }

.top-category-page-category {
  background-color: #3f4047;
  width: 510px;
  margin-right: 50px;
  position: relative; }
  .top-category-page-category .heading {
    position: relative;
    padding: 10px 29px; }
    .top-category-page-category .heading::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 0 0 20px;
      border-color: transparent transparent transparent #ffffff;
      position: absolute;
      left: 0;
      bottom: -1px; }
    .top-category-page-category .heading p {
      margin-bottom: 0;
      font-family: "Gotham Pro";
      color: #fff;
      text-transform: uppercase;
      font-size: 15px;
      display: inline-block; }
    .top-category-page-category .heading img {
      display: inline-block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 29px; }
  .top-category-page-category .list-group.drop-down {
    -webkit-box-shadow: 4px 5px 10px 1px #eee;
            box-shadow: 4px 5px 10px 1px #eee;
    position: absolute;
    top: 46px;
    left: 0;
    background: #fff;
    z-index: 10;
    -webkit-border-radius: 0;
            border-radius: 0;
    border: 0;
    padding: 0 32px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
    .top-category-page-category .list-group.drop-down a {
      -webkit-border-radius: 0;
              border-radius: 0;
      border: 0;
      border-bottom: 1px solid #eee;
      padding-left: 0;
      padding-right: 0;
      margin: 0;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .top-category-page-category .list-group.drop-down a:hover {
        background: transparent;
        color: #df5a5a; }
      .top-category-page-category .list-group.drop-down a:last-child {
        border: none !important; }
      .top-category-page-category .list-group.drop-down a.active {
        background: transparent;
        color: #df5a5a; }

.top-category-page-category:hover .list-group.drop-down,
.list-group.drop-down:hover {
  opacity: 1;
  visibility: visible; }

.common-home #content {
  padding: 0; }

.home-page #menu {
  overflow: hidden; }
  .home-page #menu .navbar-header {
    background-color: #3f4047;
    padding: 15px 25px;
    width: 100%; }
    .home-page #menu .navbar-header .navbar-toggle {
      display: inline-block;
      float: right;
      margin: 0;
      border: 0;
      padding: 2px;
      pointer-events: none; }
    .home-page #menu .navbar-header #category {
      font-size: 15px;
      text-transform: uppercase;
      font-family: "Gotham Pro";
      color: #fff; }
  .home-page #menu .navbar-collapse.collapse {
    border: 1px solid #d6d6d6;
    padding: 0; }
    .home-page #menu .navbar-collapse.collapse .nav.navbar-nav {
      padding: 30px; }
      .home-page #menu .navbar-collapse.collapse .nav.navbar-nav li {
        display: block;
        float: none; }
        .home-page #menu .navbar-collapse.collapse .nav.navbar-nav li a {
          padding: 11px 0;
          font-size: 16px;
          color: #000;
          border-bottom: 1px solid #ededed;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
          .home-page #menu .navbar-collapse.collapse .nav.navbar-nav li a:hover {
            background: transparent;
            color: #df5a5a; }
          .home-page #menu .navbar-collapse.collapse .nav.navbar-nav li a:active, .home-page #menu .navbar-collapse.collapse .nav.navbar-nav li a:focus {
            background: transparent !important; }
      .home-page #menu .navbar-collapse.collapse .nav.navbar-nav li:last-child a {
        border: none; }

.home-page .home-slider {
  margin: 0;
  padding: 0;
  height: 500px;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .home-page .home-slider li {
    list-style: none;
    float: left; }
    .home-page .home-slider li a {
      position: relative;
      display: block;
      color: #fff;
      text-decoration: none; }
      .home-page .home-slider li a .text {
        position: absolute;
        left: 47%;
        width: 450px;
        font-family: "Gotham Pro Black";
        text-transform: uppercase;
        font-size: 60px;
        line-height: .9;
        bottom: 20px; }
        .home-page .home-slider li a .text span {
          color: #ffed55; }
    .home-page .home-slider li img {
      width: 100%;
      height: 500px; }
  .home-page .home-slider .slick-dots {
    bottom: 29px;
    left: 40px; }
    .home-page .home-slider .slick-dots li {
      width: 13px;
      height: 13px; }
      .home-page .home-slider .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 13px;
        height: 13px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: #fff;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
        .home-page .home-slider .slick-dots li button:before {
          font-family: 'slick';
          font-size: 6px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          content: '•';
          text-align: center;
          opacity: .25;
          color: #fff;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
      .home-page .home-slider .slick-dots li.slick-active button {
        background-color: #ffed55; }

.instagram-section {
  background: url("../image/main/bg-instagram.jpg");
  background-repeat: no-repeat !important;
  padding-top: 65px;
  -webkit-background-size: cover !important;
          background-size: cover !important; }
  .instagram-section .title {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Gotham Pro Black";
    line-height: .9; }
    .instagram-section .title::after {
      content: "";
      display: block;
      background: url("../image/main/inst-line.png");
      background-repeat: no-repeat !important;
      height: 14px;
      width: 470px; }
  .instagram-section .link-subscribe {
    font-family: "Gotham Pro Medium";
    font-size: 16px;
    color: #fff;
    display: inline-block;
    padding: 8px 20px;
    position: absolute;
    right: 0;
    margin-top: 66px;
    border: 1.5px solid #fff;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 2; }
    .instagram-section .link-subscribe:hover {
      background-color: #df5a5a;
      border-color: #df5a5a;
      text-decoration: none; }
  .instagram-section .img-glove {
    position: relative;
    top: 60px;
    z-index: 1; }
  .instagram-section #instagram-widget .data {
    margin-bottom: -30px; }
    .instagram-section #instagram-widget .data .image {
      margin: 0 15px 30px 15px;
      display: inline-block; }
      .instagram-section #instagram-widget .data .image img {
        width: 170px;
        height: 170px;
        -o-object-fit: cover !important;
           object-fit: cover !important; }
  .instagram-section .text-inst {
    font-size: 16px;
    font-family: "Gotham Pro";
    color: #fff;
    margin-bottom: 0;
    padding: 0 15px; }

.subscribe-section {
  background: url(../image/main/bg-form.jpg);
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
          background-size: cover !important;
  padding: 70px 0; }
  .subscribe-section .title {
    margin: 0;
    font-size: 60px;
    color: #fff;
    font-family: "Gotham Pro Black"; }
    .subscribe-section .title span {
      font-family: "Gotham Pro";
      color: #b8b8b8; }
  .subscribe-section form {
    margin-top: 6px; }
    .subscribe-section form .form-wrapper .form-group {
      position: relative; }
      .subscribe-section form .form-wrapper .form-group input {
        display: inline-block;
        -webkit-border-radius: 0;
                border-radius: 0;
        outline: none;
        padding: 22px 20px; }
      .subscribe-section form .form-wrapper .form-group button {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        background: transparent;
        padding: 11px 16px;
        outline: none;
        -webkit-box-shadow: none;
                box-shadow: none; }
        .subscribe-section form .form-wrapper .form-group button:active, .subscribe-section form .form-wrapper .form-group button:focus {
          outline: none; }

.video-section {
  padding-top: 150px;
  padding-bottom: 90px; }
  .video-section .video-list {
    margin: 0;
    padding: 0; }
    .video-section .video-list li {
      list-style: none;
      margin-bottom: 30px; }
      .video-section .video-list li img {
        width: 100%; }
  .video-section .text-block-video p {
    line-height: 1.2; }
  .video-section .text-block-video .first {
    margin-top: 10px; }
  .video-section .text-block-video .two-title {
    margin-bottom: 60px;
    margin-top: 90px; }

.cat-section {
  padding-top: 35px;
  padding-bottom: 150px; }
  .cat-section .list-specific-products {
    margin: 0 -15px;
    padding: 0;
    height: 540px;
    overflow: hidden; }
    .cat-section .list-specific-products li {
      list-style: none; }
  .cat-section .wrapper-slider {
    margin-top: 65px;
    height: 7px;
    padding: 0 15px;
    background-color: #e9e9e9;
    width: 100%;
    -webkit-border-radius: 20px;
            border-radius: 20px; }

.category-page h1 {
  font-family: "Gotham Pro Medium";
  font-size: 33px;
  color: #000;
  margin: 0 0 25px; }

.category-page .filter-items-block {
  margin-bottom: 40px; }

.category-page .sort-by-fields-block .title-sort {
  font-size: 16px;
  color: #000;
  font-family: "Gotham Pro Light";
  display: inline; }

.category-page .sort-by-fields-block .list-sort-values {
  display: inline;
  margin: 0;
  padding: 0; }
  .category-page .sort-by-fields-block .list-sort-values li {
    margin-left: 15px;
    display: inline-block; }
    .category-page .sort-by-fields-block .list-sort-values li a {
      font-size: 16px;
      color: #b6b6b6;
      border-bottom: 1px solid #b6b6b6; }
      .category-page .sort-by-fields-block .list-sort-values li a.active {
        color: #df5a5a;
        border-color: #fff !important; }
      .category-page .sort-by-fields-block .list-sort-values li a:hover {
        text-decoration: none;
        color: #df5a5a; }

.category-page .sort-by-fields-block.items-per-page {
  padding-left: 20px; }
  .category-page .sort-by-fields-block.items-per-page .list-sort-values a {
    color: #000;
    border-bottom: 1px solid #000; }

.category-page .product-layout .product-thumb .caption .title {
  min-height: 110px; }

.category-page .products-row {
  margin-bottom: 40px; }

.category-page .load-more-button {
  font-size: 18px;
  color: #df5a5a;
  text-decoration: underline;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  padding: 30px 0 90px;
  display: inline-block;
  cursor: pointer; }
  .category-page .load-more-button:hover {
    color: #3f4047; }

.accordion-block {
  padding: 40px 25px;
  border: 1px solid #dcdcdc;
  margin-right: 20px; }
  .accordion-block .title {
    margin-top: 0;
    margin-bottom: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    cursor: pointer; }
    .accordion-block .title p {
      margin-bottom: 0;
      font-size: 24px;
      color: #3f4047;
      font-family: "Gotham Pro Bold"; }
    .accordion-block .title .img-block {
      width: 18px !important;
      height: 11px;
      padding: 0px 0;
      margin: 8px 0 8px 20px; }
      .accordion-block .title .img-block img {
        display: block;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s; }
    .accordion-block .title.accordion-open img {
      -webkit-transform: rotateZ(180deg);
          -ms-transform: rotate(180deg);
              transform: rotateZ(180deg); }
  .accordion-block .row-common {
    margin-top: 35px;
    display: none; }
    .accordion-block .row-common ul {
      margin: 0;
      padding: 0; }
      .accordion-block .row-common ul li {
        list-style: none;
        margin-bottom: 10px; }
        .accordion-block .row-common ul li a {
          position: relative;
          font-family: "Gotham Pro";
          font-size: 14px;
          color: #3f4047;
          text-decoration: none;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
          .accordion-block .row-common ul li a:hover {
            color: #df5a5a; }
          .accordion-block .row-common ul li a i {
            color: #e3e3e3;
            padding-right: 8px; }
      .accordion-block .row-common ul li:last-child {
        margin-bottom: 0; }
  .accordion-block .count-product {
    background-color: #df5a5a;
    color: #fff;
    vertical-align: middle;
    position: absolute;
    right: -28px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-size: 10px;
    width: 16px;
    height: 16px;
    line-height: 19px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0;
    text-align: center;
    font-family: "Gotham Pro Medium"; }
  .accordion-block .panel {
    margin-bottom: 0 !important; }
    .accordion-block .panel.ocfilter.panel-default {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .accordion-block .panel-default,
  .accordion-block .list-group-item.ocfilter-option {
    border: none !important;
    padding: 0; }
  .accordion-block .option-name.alter {
    font-size: 24px;
    color: #3f4047;
    font-family: "Gotham Pro Bold";
      font-family-margin-top: 20px;
    display: inline-block; }
  .accordion-block .noUi-connect {
    background: #df5a5a; }
  .accordion-block .selected-options .ocfilter-option {
    background: transparent; }
  .accordion-block .list-group-item {
    border: none; }
  .accordion-block .ocfilter-option label a {
    color: #3f4047;
    font-family: "Gotham Pro";
    position: relative; }
  .accordion-block .ocfilter-option label small {
    background-color: #df5a5a;
    color: #fff;
    vertical-align: middle;
    position: absolute;
    right: -28px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-size: 10px;
    width: 16px;
    height: 16px;
    line-height: 19px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0;
    text-align: center;
    font-family: "Gotham Pro Medium"; }
  .accordion-block .badge {
    padding: 5px 7px; }
  .accordion-block .ocfilter-option label {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    position: relative;
    margin-bottom: 10px; }
  .accordion-block .ocfilter-option-popover button {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background-color: #df5a5a; }
    .accordion-block .ocfilter-option-popover button:hover {
      background-color: #3f4047; }
  .accordion-block div#option-m {
    margin-top: 30px;
    display: inline-block; }

#column-left .accordion-block {
  margin-bottom: 20px; }

#column-left .accordion-block:last-child {
  margin-bottom: 0; }

.product-page .thumbnails {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center; }
  .product-page .thumbnails .thumbnail {
    border: none; }
  .product-page .thumbnails .image-additional-block {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
    .product-page .thumbnails .image-additional-block .image-additional:last-child a {
      margin-bottom: 0 !important; }

.product-page .title {
  color: #3f4047;
  font-size: 36px;
  font-family: "Gotham Pro Medium";
  margin-top: 50px; }

.product-page .first-block-information {
  margin-top: 45px;
  margin-bottom: 25px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center; }
  .product-page .first-block-information li {
    font-family: "Gotham Pro";
    font-size: 16px; }
    .product-page .first-block-information li a {
      text-transform: uppercase;
      text-decoration: none;
      color: #268cec;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      pointer-events: none; }
      .product-page .first-block-information li a:hover {
        text-decoration: none;
        color: #df5a5a; }

.product-page .second-block-information .price {
  font-size: 34px;
  font-family: "Gotham Pro Medium";
  margin-bottom: 20px; }

.product-page #product .link-to-all-size {
  height: 54px;
  display: table-cell;
  vertical-align: middle; }
  .product-page #product .link-to-all-size p {
    margin-bottom: 0;
    display: inline-block;
    font-size: 14px;
    font-family: "Gotham Pro";
    color: #b6b6b6;
    text-decoration: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-bottom: 1px solid;
    line-height: 14px; }
  .product-page #product .link-to-all-size:hover {
    text-decoration: none; }
    .product-page #product .link-to-all-size:hover p {
      color: #df5a5a; }

.product-page #product .cm-attribute-potion-block {
  min-height: 69px;
  margin-bottom: 35px; }
  .product-page #product .cm-attribute-potion-block .form-group {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center; }
    .product-page #product .cm-attribute-potion-block .form-group label {
      margin: 0;
      font-size: 18px;
      font-family: "Gotham Pro";
      font-weight: normal;
      padding-right: 50px; }

.product-page #product .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #df5a5a transparent; }

.product-page #product .select2-container--default .select2-selection--single {
  outline: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  padding: 12px 18px;
  height: auto; }
  .product-page #product .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 15px;
    color: #8d8d8d; }
  .product-page #product .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .product-page #product .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #df5a5a transparent transparent transparent; }

.product-page #product #button-cart {
  width: auto !important;
  border: none; }

.product-page .form-group.add-to-cart-block {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex; }

.product-page .text-not-available {
  font-size: 14px;
  padding-left: 35px;
  margin: 0; }

.product-page .tab-second-block {
  margin-top: 40px; }
  .product-page .tab-second-block .nav.nav-tabs {
    border-color: #e5e5e5;
    padding-bottom: 3px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start; }
    .product-page .tab-second-block .nav.nav-tabs li {
      float: none;
      cursor: pointer; }
      .product-page .tab-second-block .nav.nav-tabs li a {
        font-family: "Gotham Pro";
        font-size: 18px;
        color: #3f4047;
        border: none;
        padding: 30px 66px;
        cursor: pointer; }
        .product-page .tab-second-block .nav.nav-tabs li a:hover {
          color: #df5a5a;
          background: transparent; }
      .product-page .tab-second-block .nav.nav-tabs li.active a {
        font-family: "Gotham Pro Medium"; }
    .product-page .tab-second-block .nav.nav-tabs li:first-child a {
      padding-left: 0; }
    .product-page .tab-second-block .nav.nav-tabs li:last-child a {
      padding-right: 0; }
  .product-page .tab-second-block .tab-content {
    margin-bottom: 75px; }
    .product-page .tab-second-block .tab-content .tab-pane {
      position: relative;
      padding-top: 40px;
      font-family: "Gotham Pro";
      font-size: 16px;
      height: 215px;
      overflow: hidden; }
      .product-page .tab-second-block .tab-content .tab-pane::after {
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 0;
        left: 0; }

.product-page .tab-first-block {
  margin-top: 71px; }
  .product-page .tab-first-block .title {
    font-size: 25px;
    font-family: "Gotham Pro Medium";
    margin-top: 0;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 29px; }
  .product-page .tab-first-block #tab-specification table {
    margin-top: 40px;
    border: none !important; }
    .product-page .tab-first-block #tab-specification table td,
    .product-page .tab-first-block #tab-specification table tbody {
      border: none;
      padding: 0; }
    .product-page .tab-first-block #tab-specification table td {
      padding-bottom: 5px;
      font-family: "Gotham Pro";
      font-size: 16px; }
      .product-page .tab-first-block #tab-specification table td a,
      .product-page .tab-first-block #tab-specification table td span {
        color: #268cec;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        cursor: pointer; }
        .product-page .tab-first-block #tab-specification table td a:hover,
        .product-page .tab-first-block #tab-specification table td span:hover {
          text-decoration: none;
          color: #df5a5a; }

.product-page .linked-products .title {
  font-family: "Gotham Pro Medium";
  font-size: 30px;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 80px; }

.product-page .linked-products .list-linked-products {
  padding: 0;
  margin: 0 -15px; }
  .product-page .linked-products .list-linked-products li {
    list-style: none;
    float: left; }

.product-page .linked-products .wrapper-slider {
  height: 7px;
  padding: 0 15px;
  background-color: #e9e9e9;
  width: 100%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-bottom: 160px;
  margin-top: 35px; }

.cart-page {
  margin-bottom: 90px; }
  .cart-page .title {
    margin-bottom: 50px; }
  .cart-page .table.table-bordered,
  .cart-page .table.table-bordered td,
  .cart-page .table.table-bordered th {
    border: none;
    vertical-align: middle; }
  .cart-page table thead {
    border-bottom: 1px solid #eee; }
  .cart-page .cart-table a {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #3f4047; }
    .cart-page .cart-table a:hover {
      color: #df5a5a; }

.page-checkout .title {
  margin-bottom: 50px; }

.page-checkout .panel.panel-default {
  -webkit-border-radius: 0;
          border-radius: 0; }

.page-checkout .panel-heading {
  background: transparent; }

.page-checkout .panel-title a {
  font-family: "Gotham Pro Medium";
  color: #3f4047; }

footer {
  background-color: #f7f7f7;
  padding: 50px 0; }
  footer .information-block .footer-list-links {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; }
    footer .information-block .footer-list-links li a {
      color: #3f4047;
      text-decoration: none;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      footer .information-block .footer-list-links li a:hover {
        color: #df5a5a;
        text-decoration: none; }
  footer .email-block {
    margin: 0 auto;
    display: table; }
    footer .email-block h4 {
      color: #adadad; }
    footer .email-block a {
      text-decoration: none;
      font-family: "Gotham Pro";
      color: #3f4047; }
  footer .search-block {
    padding: 30px 0; }
  footer .link-call {
    display: table !important;
    margin: 30px auto 0 auto; }
  footer .social-block {
    display: table;
    margin: 0 0 0 auto; }
    footer .social-block .list-soc-link {
      margin: 0;
      padding: 0; }
      footer .social-block .list-soc-link li {
        display: inline-block; }
        footer .social-block .list-soc-link li a {
          width: 35px;
          height: 35px;
          display: inline-block;
          border: 2px solid #fff;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          text-align: center;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          margin-right: 15px; }
          footer .social-block .list-soc-link li a i {
            color: #b8b8b8;
            display: inline-block;
            vertical-align: bottom; }
          footer .social-block .list-soc-link li a:hover {
            background-color: #df5a5a; }
            footer .social-block .list-soc-link li a:hover i {
              color: #fff; }
  footer .delivery-block {
    margin: 67px 0 0 auto;
    display: table; }
    footer .delivery-block .list-delivery-images {
      margin: 0;
      padding: 0; }
      footer .delivery-block .list-delivery-images li {
        list-style: none;
        display: inline-block;
        padding-right: 20px; }
      footer .delivery-block .list-delivery-images li:first-child {
        display: block;
        padding-bottom: 20px;
        padding-right: 0; }
  footer .delivery-block h4,
  footer .information-block h4,
  footer .social-block h4 {
    font-family: "Gotham Pro Medium";
    font-size: 20px;
    color: #3f4047;
    margin-bottom: 40px;
    margin-top: 0; }
  footer #search.search.input-group {
    display: table !important;
    width: 100%; }

@media (min-width: 1260px) {
  .container {
    width: 1260px; } }
