.discountsales_container{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 15px;
}

.discountsales {
   padding: 3px 6px 3px 6px;
   background: #23a1d1;
   color: white;
   margin-bottom: 1px;
}

.discount{
    opacity: 0.85;
}

.discount_category{
    opacity: 0.85;
}

.discount_manufacturer {
    opacity: 0.85;
}

.discountsales_container_uph4{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
}

.discountsales_sign{
    right: 0px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    overflow: visible;
    text-align: center;
    margin-top: 10px;
}

.discountsales_multiply,.discountsales_plus{
    font-size: 34px;
}
.discountsales_plus{
    font-size: 48px;
        color: red;

}

.discountsales_sign_multiply{
    margin-left: -70px;
    padding-top: 5px;
    background: #b7b7b7;
    color: white;
    margin-right: -5px;
    margin-top: 5px;
    top:0px;
    padding-left: 5px;
    padding-right: 5px;
}

.discountsales_new_cost{
    font-size: 38px;
    color: red;
    padding-left: 18px;
}

@media (min-width: 992px) {
    .carousel_discountsales .col-md-3{
        width: auto;
    }
}

@media (min-width: 768px) and (max-width:990px) {
    .carousel_discountsales .col-md-3{
        width: 100%;
    }
    .discountsales_new_cost{
        font-size: 26px;
    }
}

.carousel_discountsales .col-md-3{
    clear: none  !important;
}

.carousel_discountsales .discountsales_sticker{
    position: absolute;
}



@media (min-width: 768px) and (max-width:990px) {
    .carousel_discountsales .col-sm-6 {
        /*width: 45%  !important;*/
    }
    .col-sm-6.discountsales_sign_top{
        width: 50px !important;
    }
}
.discountsales_sign_top{
    width: 50px !important;
}

.row_carusel_top{
    padding: 10px;
    overflow-x: auto !important;
    
}
@media (min-width: 300px) and (max-width:767px) {
    .col-sm-6.discountsales_sign_top{
        width: 100% !important;
        z-index: 100;
        
    }
    .discountsales_plus{
        padding: 5px;
        padding-left: 28px;
        padding-right: 28px;
        font-size: 65px;
    }
}

.row_carusel_top .row_carusel_40_3:nth-child(1){
    float: none !important;
}
